.partie1{
  margin-top: 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #212529;
  padding-top: 20px;
  padding-bottom: 20px;
  
  }
  
  .nav-links:hover {
    background-color:green; 
    color: red; 
    }
  
    .partie2{
      margin-top: 50px;
      height: 400px;
   
   
      display:flex;
      flex-direction: column;
      justify-content: space-between;
     align-items: center;
      
  
    }
    .CardsEl{
     
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 180px;
      border-radius: 20px;
      
    }
    .Cards{

width:300px;
/* border: 1px solid red; */
background-color: #212529;
box-shadow:0 5px 8px #212529;
border-radius: 20px; 
padding: 25px 10px;
    }
    .Cards:hover{
      background-color: #FF4A57!important;
    }